.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://walker-web.imgix.net/cms/gradient-blue-hour.jpg?w=740&fit=clip&auto=format,compress&dpr=1.5');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
  }
  
  #quote-box {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 50%;
    max-width: 600px;
  }
  
  #text {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  #author {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #555;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  #new-quote {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #tweet-quote {
    background-color: #1da1f2;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }
  